.project {
  display: block;
  font-size: 20px;
  padding: 10px;
  margin: 0 0 10px 0;
  color: black;
  background: #eee;
  font-family: 'Cairo', cursive;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: rgba(40, 63, 69, 0.06) 0px 3px 6px;
}

.project a {
  text-decoration: none;
}

.project a:hover {
  text-decoration: underline;
}

.project a:link {
  color: black
}

.project a:visited {
  color: black
}

.project span.success {
  color: green;
  text-transform: capitalize;
}

.project span.pending {
  color: orange;
}

.project span.failure {
  color: red;
}

.project button.remove{
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  vertical-align: bottom;
}
