.project {
  display: block;
  padding: 10px;
  margin: 0 0 10px 0;
  color: black;
  background: #eee;
  font-family: 'Cairo', cursive;
  font-weight: bold
}

.project a:link {
  color: black
}

.project a:visited {
  color: black
}

.project span.success {
  color: green;
  text-transform: capitalize;
}

.project span.pending {
  color: orange;
}

.project span.failure {
  color: red;
}

.project button.remove{
  color: red;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  font-size: .9rem;
  vertical-align: bottom;
}
