.project {
  display: block;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  justify-content: space-around;;
  border: 1px solid #dddddd;
  padding: 25px;
  margin: 10px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(40, 63, 69, 0.06);
}

.title {
  color: #000;
  display: grid;
}

.row {
  display: flex;
  border: 1px solid #dddddd;
  padding: 25px;
  margin: 10px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(40, 63, 69, 0.06);
  justify-content: space-around;
}

.project a {
  text-decoration: none;
}

.project a:hover {
  text-decoration: underline;
}

.project a:link {
  color: black
}

.project a:visited {
  color: black
}

.project span.success {
  text-transform: capitalize;
}

.success .row {
  background-color: #7CFC00 !important;
}

.pending .row  {
  background-color: orange;
}

.failure .row {
  background-color:red;
}

.project button.remove{
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  vertical-align: bottom;
}
