.project {
  display: block;
  padding: 10px;
  margin: 0 0 10px 0;
  color: black;
  background: #eee;
  font-family: 'Cairo', cursive;
  font-weight: bold
}

.project a:link {
  color: black
}

.project a:visited {
  color: black
}

.project span.success {
  color: green;
}

.project span.pending {
  color: orange;
}

.project span.failed {
  color: red;
}