.header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.header h1 {
  transition: all 0.4s ease;
  margin: 20px auto 20px auto;
  font-family: 'Cairo', cursive;
}
