.ProjectDetails {
  position: relative;
}

.ProjectDetails .autoRefreshButton {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  outline: none;
  border: none;
  background-color: #0D65CA;
  padding: 5px;
}


table {
    font-family: arial, sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }