@import url('https://fonts.googleapis.com/css?family=Cairo');
html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #282c34;
	font-family: 'Cairo', sans-serif;
	font-weight: 400;
	color: #FAFAFA;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
